div {
    border-style: groove;
}

button { 
    background-color:#4488c4;
    border: #2e6da4;
    font-family: Arial, Geneva, Arial, Helvetica,  sans-serif;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: normal;
    border-radius: 4px;
    line-height: 1.5;
    text-decoration:none;
    margin: 5px;

}

button:hover{
    background-color: lavender;
}

img{
    height: 100px;
    width: 120px;
    float: left;
    padding-right: 20px;
}

.details {
    display: inline-flexbox;
    height: fit-content;
}

/* HeroSearch private styles */

label {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
  
  }

  input:focus {
    outline: #336699 auto 1px;
  }
  
  li {
    list-style-type: none;
  }

  .search-result{
    list-style-type:none;
    position: relative;
    padding: 0%;
}

.search-result li{
    background-color: whitesmoke;
    border-color: gray;
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 5px;
}

.search-result li:hover{
    background-color: #7ba8cf;
    color: white;
}

.search-result a{
    font-size: 12;
}
  
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }